Source: qpid-cpp
Section: misc
Priority: extra
Maintainer: Debian Middleware Maintainers <pkg-middleware-maintainers@lists.alioth.debian.org>
Uploaders: Darryl L. Pierce <mcpierce@gmail.com>, Daniel Pocock <daniel@pocock.pro>
Build-Depends: debhelper (>= 9.0.0~),
               cmake,
               pkg-config,
               libboost-program-options-dev,
               libboost-system-dev,
               python
Standards-Version: 3.9.4
Homepage: http://qpid.apache.org/
Vcs-Browser: http://git.debian.org/?p=pkg-middleware/qpid-cpp.git
Vcs-Git: git://git.debian.org/git/pkg-middleware/qpid-cpp.git

Package: libqpidtypes1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Qpid AMQP types libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid types libraries.

Package: libqpidtypes1-dev
Architecture: any
Section: libdevel
Depends: libqpidtypes1 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Qpid AMQP types development libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid types development libraries.

Package: libqpidclient2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Qpid client libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid client libraries.

Package: libqpidclient2-dev
Architecture: any
Section: libdevel
Depends: libqpidclient2 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Qpid client development libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid client development libraries.

Package: libqpidcommon2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Qpid common libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid common libraries.

Package: libqpidcommon2-dev
Architecture: any
Section: libdevel
Depends: libqpidcommon2 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Qpid common development libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid common development libraries.

Package: libqpidmessaging2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Qpid messaging libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid messaging libraries.

Package: libqpidmessaging2-dev
Architecture: any
Section: libdevel
Depends: libqpidmessaging2 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Qpid messaging development libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid messaging development libraries.

Package: libqpidbroker2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Qpid broker libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid broker libraries.

Package: libqpidbroker2-dev
Architecture: any
Section: libdevel
Depends: libqpidbroker2 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Qpid broker development libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid broker development libraries.

Package: libqmf2-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Qpid Messaging Framework v2 libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache QMFv2 libraries.

Package: libqmf2-dev
Architecture: any
Section: libdevel
Depends: libqmf2-1 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Qpid Messaging Framework v2 development libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache QMFv2 development libraries

Package: qpidd
Architecture: any
Depends: adduser,
         libqpidcommon2 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends}
Description: Qpid broker
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid broker.

Package: qpidd-store
Architecture: any
Depends: qpidd (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends}
Description: Qpid broker persistence libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Qpid persistence store library

Package: qpidd-ha
Architecture: any
Depends: qpidd (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends}
Description: Qpid broker high availability libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid broker high availability libraries.

Package: qmf-gen
Architecture: any
Section: python
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Python QMF interface generator
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid QMF interface generator.

Package: qpid-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Qpid documentation and examples
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid documentation and examples.

